<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class="header_img" src="{{ url_for('static', filename='img/logo.png') }}">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle show" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            <svg width="20" height="20" version="2.0"><use id="current-theme" href="#icon-theme-dark"></use></svg>
          </a>
          <ul class="dropdown-menu show" data-bs-popper="static">
            <li>
              <a id="select-theme-light" class="dropdown-item" href="javascript:updateTheme('light')">
                <svg width="16" height="16" version="2.0"><use href="#icon-theme-light"></use></svg>&nbsp; Light Mode
              </a>
            </li>
            <li>
              <a id="select-theme-dark" class="dropdown-item" href="javascript:updateTheme('dark')">
                <svg width="16" height="16" version="2.0"><use href="#icon-theme-dark"></use></svg>&nbsp; Dark Mode
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a id="select-theme-auto" class="dropdown-item active" href="javascript:updateTheme('auto')">
                <svg width="16" height="16" version="2.0"><use href="#icon-theme-auto"></use></svg>&nbsp; System Default
              </a>
            </li>
          </ul>
        </li>
    </ul>


    <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
    </div>
</div>