{% extends 'main/base.html' %}

{% block title %}All topics{% endblock %}

{% block content %}
    <div class="table-responsive custom-table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
                <th scope="col">Student</th>
                <th scope="col">Date</th>
                {% if current_user.is_authenticated %}
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="align-middle">
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.subject }}</td>
                    <td>
                        <img height="48px" src="{{ url_for('static', filename='upload/'+post.author.avatar) }}"
                             alt="{{ post.author.name }}">
                        {{ post.author.name }}
                    </td>

                    <td>
                        {% with student = user.query.get(post.student) %}
                            <img height="48px" src="{{ url_for('static', filename='upload/'+student.avatar) }}"
                                 alt="{{ post.author.name }}">
                            {{ student.name }}
                        {% endwith %}
                    </td>
                    <td>{{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    {% if current_user.is_authenticated %}
                        <td>
                            <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-sm btn-secondary"><span
                                    class="fas fa-edit"></span></a>
                            <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-sm btn-danger"><span
                                    class="fas fa-trash"></span></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}