{% extends 'main/base.html' %}

{% block title %}Update topic {{ post.id }}{% endblock %}



{% block content %}
<form method="post" class="form-control d-flex flex-column gap-2">
    <input value="{{ post.teacher }}" name="teacher" type="text" placeholder="Teacher's First and Last name" class="form-control">
    <input value="{{ post.subject }}" name="subject" type="text" placeholder="Subject" class="form-control">
    <input value="{{ post.student }}" name="student" type="text" placeholder="Student's First and Last name" class="form-control">
    <input value="Update" type="submit" class="btn btn-success">
</form>
{% endblock %}r